/* Ensure arrows are positioned correctly and clickable */
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10; /* Ensure they appear above other elements */
  }
  
  .swiper-button-prev {
    left: 10px; /* Adjust the position */
  }
  
  .swiper-button-next {
    right: 10px; /* Adjust the position */
  }
  
  /* Optional: Add hover effect */
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 0.7;
  }
  



/* .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(-50%); 
  }
  
  
  .swiper-button-prev {
    left: 10px; 
  }
  
  
  .swiper-button-next {
    right: 10px; 
  }
  
 
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 0.8;
  } */
  